.glass-morfing-effect {
  background: rgba(255, 255, 255, 0.132);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.097);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-morfing-effect:hover {
  background: rgba(255, 255, 255, 0.353);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.097);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.358);
}
